<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.oboelib" >
    <uses-feature android:name="android.hardware.audio.output" android:required="true" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>
